<% @listings.each do |listing| %>

<div class="text-center p-2 mb-2">
  <%= image_tag "beach-img.jpg", alt: "An image of the spot on the beach", class: "img-fluid custom-rounded w-80" %>
</div>

<div class="text-center border border-primary rounded mt-4 mb-4 p-4">
  <h3 class="mb-4">Description: <%= listing.description %></h3>
  <h2 class="p-2">$<%= listing.price_per_hour %> per hour</h2>
</div>

<% end %>
