<%= simple_form_for [@listing, @booking] do |f| %>
  <table class="table">
    <thead>
      <tr>
        <th>Select Hour</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= f.input :hour, collection: (10..20).map { |h| "#{h}:00" }, label: false, input_html: { class: "form-control" } %>
        </td>
      </tr>
    </tbody>
  </table>

  <%= f.submit "Book Spot", class: "btn btn-primary mt-2"%>
<% end %>

<%# <%= link_to "Book!", "#", class:"primarybuttonblue" %> %>
