<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="<%= asset_path('logo_shorespot.png') %>" alt="ShoreSpot Logo" width="36" height="36" class="me-2 rounded">
      <span class="fw-bold fs-4" style="letter-spacing:2px;"><h1>ShoreSpot</h1></span>
    </a>
  </div>
</nav>



    <%# <div class="ms-auto"> %>
      <%# <% if user_signed_in? %>
        <%# <span class="fw-semibold text-primary"><%= current_user.username</span> %>
      <%# <% else %>
        <%# <a href="/login" class="btn btn-primary px-4 text-white rounded">Log in</a> %>
      <%# <% end %>
      <%# </div> %>
